*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
    /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
}
#nav-bar .navbar ul li a {
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    padding: 0 10px;
  }
  #nav-bar .navbar ul li:hover{
      display: block;
      content: '';
      /* transform: translateX(-5px); */
      transform: translateX(-5px) translateY(-5px);
      transition: .3s;
  }
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
/* -----------------------------------------BANNER SECTION----------------------------------------------  */
#banner{
    background-image: linear-gradient(to right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
    color: #fff;
    padding-top: 5%;
}
.promo-title
{
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    font-weight: 600px;
    margin-top: 100px;
}
#banner button{
    background-color:transparent;
    border-color: transparent;
    padding:10px;
  border-radius: 20px;
}
#banner a{
    color: #fff;
    /* font-size: 33px; */
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}
/* ALSO */
.title{
    text-align: center;
}
.title::before
{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left:auto ;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.about-text{
    margin: 30px 20px;
}
#button{
    text-align: center;
    margin: 40px;
}
#button a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
}
#button .but{
    text-align: center;
    background-color: blueviolet;
    border-radius: 12px;
    border-color: transparent;
}
/* SOCIAL MEDIA */
#social-media{
    background: #dbebfc;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
#social-media .social-icons img{
    width: 60px;
    transition: 0.5s;
}
#social-media .social-icons a:hover img{
    transform: translateY(-10px);
}