*{ box-sizing: border-box; }
 h1{
    text-align: center;
 }
/* --------------------------------------NAV BAR--------------------------------------------------- */

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image:linear-gradient(to right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
}
#nav-bar .navbar ul li a {
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    padding: 0 10px;
  }
  #nav-bar .navbar ul li:hover{
      display: block;
      content: '';
      /* transform: translateX(-5px); */
      transform: translateX(-5px) translateY(-5px);
      transition: .3s;
  }
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.title{
    text-align: center;
}
.title::before
{
    content: '';
    background: #7642e8;
    height: 5px;
    width: 200px;
    margin-left:auto ;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.r{ 

	width:100%;
	padding: 30px;
	height:400px;
 }



.image__overlay{
 	position: relative;
    top: -378px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Carattere',cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
 }

.image__overlay--blur{
  	backdrop-filter: blur(5px);
  }


.image__overlay > * {
    transform: translateY(30px);
    transition: transform 1s;
    text-align: center;
}


.image__overlay:hover {
    opacity: .8;

}

.image__overlay:hover > * {
    transform: translateY(0);
    font-size: 1.75em;
    text-align: center;
}

.size{
 	width: 100%;
 	height: 100%;
 	display: block;
    /* background-color: #a517ba; */
    background-color: #fff;
 }
 .image1{
     border-radius: 80%;
 }




 @media(min-width: 992px){
 	.image1{
 		width: 25%;
 		float: left;
 		height: 400px;
	 	border: 1px solid white;
	 	padding: 10px;
        
 	}
 }

 @media(min-width: 601px) and (max-width:991px){
 	.image2{
 		width: 50%;
 		float: left;
 		height: 400px;
	 	border: 1px solid white;
	 	padding: 10px;
 	}


 }

 @media(max-width: 600px){
 	 	.image3{
 		width: 100%;
 		float: left;
 		height: 500px;
	 	border: 1px solid white;
	 	padding: 10px;}

	.image__overlay{
 	position: relative;
    top: -478px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Carattere',cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
 }

 }
/* -------------------------------------------SOCIAL MEDIA-------------------------------------------------- */

#social-media{
    margin-top: 29px;
    background: #dbebfc;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
#social-media .social-icons img{
    width: 60px;
    transition: 0.5s;
}
#social-media .social-icons a:hover img{
    transform: translateY(-10px);
}