@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0099ff;
  font-family: 'Josefin Sans', sans-serif;
}


.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
    margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member
{
  background: #fff;
  margin: 5px;
  margin-bottom: 10px;
  width: 300px;
  padding: 70px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #0099ff;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -100px;
  left: 100%;
  transform: translateX(-125%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 200px;
  height: 200px;
  padding: 5px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
    visibility: visible;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 1;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
